
@{
    ViewData["Title"] = "BoardsTable";
}
<h2>My Brainstorms</h2>
<p>You can view, edit and delete your brainstorms here.</p>
<div id="boardTable-page"></div>

<script src="~/js/react/dist/boardTable.bundle.js"></script>