
@{
    ViewData["Title"] = "Index";
}

<h2>Brainstorm</h2>
<p>Use this area to brainstorm your ideas. You can add stickynotes to note down your ideas and move them around.
    </p>
<div id="brainstorm-page"></div>
<div id="root" data-param="@ViewBag.BoardId"></div>
<script src="~/js/react/dist/brainstorm.bundle.js"></script>
