@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>This is a smaple project</h1>
    <p class="lead">This is a sample project to practice using .NET Core 2.0, ReactJs/CSS3, Ajax</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>ReactJs, Ajax & CSS</li>
            <li>Bootstrap</li>
            <li>SQL, EntityFramework</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Goal</h2>
        <ol>
            <li>User is able to login securely</li>
            <li>Create & manage brainstorm boards</li>
            <li>Able to create and manage task organiser</li>
            <li>Able to post organised notes</li>
        </ol>
    </div>
    <div class="col-md-3">
        <h2>Current progress</h2>
        <ul>
            <li>User is able to Login</li>
            <li>User is able to carry out CRUD operations on Stickynotes and brainstorm boards</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>To work on...</h2>
        <ul>
            <li>Implement hash and salt to verufy login</li>
            <li>Create drag and drop task organiser</li>
            <li>Create or find wysiwyg tool to allow users to post/edit notes</li>
        </ul>
    </div>
</div>
